{% extends "base.html" %}

<!--  Block title -->
{% block title %} All candidates {% endblock title %} 

<!-- Navbar -->
{% block nav-content %} 
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse mt-3 mt-md-3 mt-lg-0" id="navbarSupportedContent">
    <!-- Left side navbar (Get users) -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">
        <li class="nav-item text-light">Welcome: <span class="text-warning">{{ user.get_username }}</span></li>
    </ul>
    <!-- All Buttons an navbar (Right side) -->
    <!-- Copntrol Panel -->
    <li>
        <a href="#" class="btn btn-light my-btn2" title="Control Panel">
            <i class="fas fa-user-cog f-size2" ></i>
        </a>
        <!-- Django Admin -->
        <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-warning ms-1 my-btn2" title="Admin">
            <i class="fas fa-cog f-size2" ></i>
        </a>
        <!-- Filter -->
        <span class="text-light" >&nbsp;|&nbsp;</span>
        <button class="btn my-btn2" style="background-color:#a8b8d0;" title="Filter"  data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="fas fa-filter"></i>
        </button>
        <!-- Search -->
        <button class="btn my-btn2 ms-1" style="background-color:#d3d3d3;" title="Search" data-bs-toggle="modal" data-bs-target="#searchModal">
            <i class="fas fa-search"></i>
        </button>
        <!-- Refresh -->
        <a href="{% url 'backend' %}" class="btn btn-secondary ms-1" title="Refresh">
            <i class="fas fa-sync-alt"></i>
        </a>
        <span class="text-light" >&nbsp;|&nbsp;</span>
        <!-- Logout -->
        <a class="btn btn-danger my-btn2" title="Log out" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="fas fa-power-off f-size2" ></i>
        </a>
    </li>
   
<hr class="text-light" >

</div>
{% endblock nav-content %}


<!-- Page content -->
{% block content %}
<div class="container" style="width:90%;">
    
   <!-- Dashboard -->
   <h1 class="mt-3 mb-3 card p-5 text-center border-dark">
    DASHBOARD <span style="font-size:14px">Nesxt class</span>
   </h1>
    <!--  Table -->
    <table class="table table-bordered text-center ">
        <thead class="table-secondary">
            <tr>
                <th style="width: 19%;">Name</th>
                <th style="width: 19%;">Email</th>
                <th style="width: 14%;">Phone</th>
                <th style="width: 8%;">Gender</th>
                <th style="width: 10%;">Occupation</th>
                <th style="width: 10%;">Experience</th>
                <th style="width: 15%;">Received</th>
                <th clospan="2" style="width: 5%;">Action</th>
            </tr>
        </thead>
        <tbody style="font-size: 14px;">
            {% for data in candidates %}
            <tr>
                <td id="top-border" label="Name">{{ data.firstname }} {{ data.lastname }}</td>
                <td id="sm-border" label="Email">{{ data.email }} </td>
                <td  id="sm-border" label="phone">{{ data.phone }} </td>
                <td  id="sm-border" label="gender">{{ data.gender }} </td>
                <!-- Statement to Occupation -->
                {% if data.job == 'FR-22' %}
                    <td  id="sm-border" label="Occupation">Frontend</td>
                {% elif data.job == 'BA-10' %}
                    <td id="sm-border" label="Occupation">Backend</td> 
                {% else %}
                <td id="sm-border" label="Occupation">Fullstack</td>
                {% endif %}

                <!-- Statement to Experience -->
                {% if data.experience == False %}
                    <td id="sm-border" label="Experience" > <span class="text-danger">No</span> </td>
                {% else %}
                    <td id="sm-border" label="Experience">Yes</td>
                {% endif %}
                
                <td id="sm-border" label="Received">{{ data.created_at | date:'m/d/Y (H:i)' }}</td>

                <td >
                    <a href="{% url 'candidate' data.id %}" class="btn btn-secondary my-btn2 btn-sm" title="View Candidate">
                        <i class="fa fa-user-alt"></i>
                    </a>
                </td>
                {% empty %}
                <td colspan="8"class="text-danger"><strong>No records found</strong></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        {% if candidates.has_other_pages %}
        <ul class="pagination">
            {% if candidates.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border:1px solid #d3d3d3;">First</a>
                <li class="page-item"><a href="?page={{ candidates.previous_page_number }}" class="page-link"><i class="fas fa-angle-double-left"></i></a> </li>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}

            {% for i in candidates.paginator.page_range %}
                {% if candidates.number == i  %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if candidates.has_next %}
                <li class="page-item"><a href="?page={{ candidates.next_page_number }}" class="page-link"><i class="fas fa-angle-double-right"></i></a> </li>
                <a href="?page={{ candidates.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border:1px solid #d3d3d3; border-left:none;">Last</a>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <br><br><br>
</div><!-- End  Container -->
{% endblock content %}